.modal-bckdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.modal-inactive {
  display: none;
}
.modals {
    background-color: #333;
    padding: 20px;
    width: 55%;
    border-radius: 10px;
    /* height: 400px; */
}
.cancel-btn {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
}
/* .cancel-btn {
    height: ;
} */