header {
    background-image: linear-gradient(to right, #191C1B, #151F1E);
    height: 536px;
    width: 100%;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-one {
    display: flex;
    /* gap: ; */
}
p {
  color: #fff;
  margin: 0px;
  text-transform: capitalize;
}

@media  screen and (max-width:800px) {
  .headerimg {
    display: none;

  }
  .container {
    justify-content: center;
    height: inherit;
  }


}
@media screen and (max-width:500px) {
  header {
    height: 280px;
  }
  .center-header {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .center-header p {
      font-size: 22px;
    }
}
