.cart-sum {
    background-color: #9898980D;
    border-radius: 8px;
    width: 397px;
    height: 282px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.cart-sum h2 {
    border-bottom: 1px solid #2A2A2A ;
    padding-inline: 9px;
    height: 48px;
}
.cart-sum-total {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2A2A2A;
    padding-inline: 9px;
    height: 48px;
    align-items: center
}
.checkout-btn {
    height: 48px;
    /* margin-inline: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-btn button {
    background-color: #2F6A56;
    height: 48px;
    width: 70%;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
}
@media screen and (max-width:500px) {
    .cart-sum {
        width: 80%;
    }
}